In [46]:
import pandas as pd
import numpy as np
from IPython.display import display


file_to_load = (r'C:\Users\watso\Documents\Data_Science_Bootcamp\homework_4\homework\Resources\purchase_data.csv')


purchase_data = pd.read_csv(file_to_load)
hop_df = pd.DataFrame(purchase_data)
display(hop_df)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [21]:
pa_dict = {unique_items=hop_df['Item Name'].unique(), average_price=hop_df['Price'].mean(), number_of_purchases=hop_df['Purchase ID'].count(),total_revenue=hop_df['Price'].sum()}
purhasing_analysis = pd.DataFrame(pa_dict)
purchasing_analysis

SyntaxError: invalid syntax (<ipython-input-21-798753b7b2a2>, line 1)

In [27]:
unique_items_series=pd.Series(hop_df['Item Name'].unique())
unique_items_count=(unique_items_series.value_counts())
unique_items_sum=(unique_items_count.sum())
average_price=(hop_df['Price'].mean())
number_of_purchases=pd.Series(hop_df['Purchase ID'].count())
total_revenue=pd.Series(hop_df['Price'].sum())
print(unique_items_sum)
print(average_price)
print(number_of_purchases)
print(total_revenue)
pa_dict={'Number of Unique Items':unique_items_sum, 'Average Price':average_price, 'Number of Purchases':number_of_purchases, 'Total Revenue':total_revenue}
print(pa_dict)

179
0    3.050987
dtype: float64
0    780
dtype: int64
0    2379.77
dtype: float64
{'Number of Unique Items': 179, 'Average Price': 0    3.050987
dtype: float64, 'Number of Purchases': 0    780
dtype: int64, 'Total Revenue': 0    2379.77
dtype: float64}

In [28]:
grouped_hop_df=hop_df.groupby("Item Name")
print(grouped_hop_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001D9B95C3460>

In [29]:
pa_df=hop_df.sum()

In [48]:
display(pa_df)

Purchase ID                                               303810
SN             Lisim78Lisovynya38Ithergue48Chamassasya86Iskos...
Age                                                        17717
Gender         MaleMaleMaleMaleMaleMaleMaleMaleMaleOther / No...
Item ID                                                    71849
Item Name      Extraction, Quickblade Of Trembling HandsFrenz...
Price                                                    2379.77
dtype: object

In [35]:
unique_items = pd.Series(hop_df['Item Name'].unique())
unique_items_count=unique_items.count()
average_price = hop_df['Price'].mean()
number_of_purchases = hop_df['Purchase ID'].count()
total_revenue = hop_df['Price'].sum()
print(unique_items_count)
print(average_price)
print(number_of_purchases)
print(total_revenue)

179
3.050987179487176
780
2379.77

In [106]:
hop_df.aggregate({'Item Name':"count", "Price":"mean",})

Item Name    780.000000
Price          3.050987
dtype: float64

In [108]:
pa_dict={'Number of Unique Items':unique_items_sum, 'Average Price':average_price, 'Number of Purchases':number_of_purchases, 'Total Revenue':total_revenue}
print(pa_dict),
pa_hop_df=pd.DataFrame(pa_dict, index=[0])
display(pa_hop_df)

{'Number of Unique Items': 179, 'Average Price': 3.050987179487176, 'Number of Purchases': 780, 'Total Revenue': 2379.77}

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [84]:
hop_df_unique=hop_df.drop_duplicates("SN")

gender_hop_df=hop_df_unique.groupby("Gender")
gender_hop_df.aggregate({})
gender_hop_df.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                          81   81   81       81         81     81
Male                           484  484  484      484        484    484
Other / Non-Disclosed           11   11   11       11         11     11

In [63]:
unique_players_grouped=hop_df.groupby('SN')
display(unique_players_grouped)
#gender_hop_df=unique_players_grouped.groupby("Gender")
#gender_hop_df.count()

In [102]:
most_popular_df=hop_df.loc[:,["Item ID", "Item Name", "Price"]]
grouped_most_popular=pd.DataFrame(most_popular_df.groupby(["Item ID", "Item Name"]))
grouped_most_popular

,0,1
0,"(0, Splinter)",Item ID Item Name Price 133 0 Sp...
1,"(1, Crucifer)",Item ID Item Name Price 121 1 Cr...
2,"(2, Verdict)",Item ID Item Name Price 134 2 V...
3,"(3, Phantomlight)",Item ID Item Name Price 161 3...
4,"(4, Bloodlord's Fetish)",Item ID Item Name Price 13 ...
...,...,...
178,"(179, Wolf, Promise of the Moonwalker)",Item ID Item Name ...
179,"(180, Stormcaller)",Item ID Item Name Price 751 180 ...
180,"(181, Reaper's Toll)",Item ID Item Name Price 45 18...
181,"(182, Toothpick)",Item ID Item Name Price 256 182 T...
182,"(183, Dragon's Greatsword)",Item ID Item Name Price 165 ...

NameError: name 'aggregate' is not defined